click
colorama==0.4.5
Flask==2.0.3
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.8.3
itsdangerous
Jinja2
MarkupSafe
marshmallow
numpy
packaging
pandas
psycopg2-binary>=2.8.6
pyparsing
python-dateutil
pytz
six
SQLAlchemy
Werkzeug
wincertstore
zipp